/* Hide spinner controls */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input {
    -moz-appearance: textfield;
}

.editor strong {
    font-weight: 600;
}

.editor h1 {
    font-size: 3em;
    font-weight: 700;
    color: #333;
    margin-bottom: 0.5em;
}

.editor h4 {
    font-size: 1.4em;
    font-weight: 700;
    color: #444;
    margin-bottom: 0.5em;
}

.editor h5 {
    font-size: 1.1em;
    font-weight: 700;
    color: #444;
    margin-bottom: 0.5em;
}


.editor h6 {
    font-size: 1.1em;
    font-weight: 700;
    color: #8b949e;
    margin-bottom: 0.5em;
}

.editor ul {
    list-style-type: disc;
    padding-left: 1.5em;
}

.editor ol {
    list-style-type: decimal;
    padding-left: 1.5em;
}
/* 
.editor li {
    margin-bottom: 0.2em; /* spacing between list items */

.editor a {
    text-decoration: underline;
    text-underline-offset: 2px;
    color:  rgba(253, 79, 19, 1);
}


.orange-scroll::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background of the scrollbar track */
}

.orange-scroll::-webkit-scrollbar-thumb {
    background-color: #fd4f13; /* Scrollbar color */
    border: solid #f1f1f1; /* Padding around the scrollbar thumb */
}

/* For Firefox */
.orange-scroll {
    scrollbar-width: thin; /* Set the width to thin */
    scrollbar-color: #fd4f13 #f1f1f1; /* Scrollbar color and track color */
}