@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.text {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
}

.btn {
    padding: 16px 20px;
    gap: 8px;
    border-radius: 8px;
    background: var(--primary-500, #fd4f13);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    color: white;
    transition: all 0.3s ease-in;
}

.btn:hover,
.icon:hover {
    scale: 1.1;
}

.active {
    color: var(--primary-500, #fd4f13);
}

@media (max-width: 678px) {
    .btn {
        padding: 6px 10px;
    }
}