.hero--btn{
    padding: 3px 8px;
    border: 1px solid #D4CECB;
    padding: 8px 15px;
    border-radius: 8px;
    text-align: center;
    font-family: Manrope;
}

@media screen and (min-device-width: 1025px) {
    .Blog--Card{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40px;
        width: 100%;
        color: black;
        flex-wrap: wrap;
    }

    .Blog--Section--Img{
        width: 100%;
        border-radius: 16px;
    }
}
@media screen and (max-device-width: 1024px) {
    .Blog--Card{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        width: 100%;
        color: black;
        flex-wrap: wrap;
    }
}

/* mobile screen */
@media screen and (max-device-width: 480px) {
    .Blog--Card{
        display: grid;
        grid-template-columns: 1fr;
        gap: 40px;
        width: 100%;
        color: black;
        flex-wrap: wrap;
    }

    .content--top{
        flex-direction: column;
    }
}